In [1]:
import pandas as pd
import numpy as np

import time


from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options

from selenium.webdriver.common.by import By  # 3개는 selenium이 동작하면서 웹 화면이 로딩될때 까지 기다림을 지원
from selenium.webdriver.support.ui import WebDriverWait # 웹 드라이버 미리 설치
from selenium.webdriver.support import expected_conditions as EC            # support안에 있는 expected_conditions를 EC로 선언

In [11]:
driver = webdriver.Chrome('C:/Users/YOONSU/chromedriver.exe')
map_url = "https://www.tripadvisor.com/Attraction_Review-g612375-d3805539-Reviews-Naksansa_Temple-Yangyang_gun_Gangwon_do.html"
driver.get(map_url) # 파이팅!!!!!!!!!!
driver.maximize_window()
time.sleep(5)

In [12]:
box_list = []
name_list = []
stars_list = []
review_list = []
date_list = []
title_list = []

num_page = 6
i=0
while (i<num_page):
    
    boxes = driver.find_elements_by_css_selector('div._c')

    for box in boxes:
        try:
            more_btn = box.find_element_by_class_name('biGQs._P.XWJSj.Wb')
            more_btn.click()
            time.sleep(5)
        except:
            continue

    for box in boxes:

        IDs = box.find_elements_by_css_selector('span.biGQs._P.fiohW.fOtGX')
        Dates = box.find_elements_by_class_name('biGQs._P.pZUbB.ncFvv.osNWb')
        Stars = box.find_elements_by_css_selector('svg.UctUV.d.H0')      
        titles = box.find_elements_by_css_selector('span.yCeTE')
        reviews = box.find_elements_by_class_name('biGQs._P.pZUbB.KxBGd')


        for ID,Date,Star,title, review in zip(IDs, Dates, Stars, titles, reviews):
            name_list.append(ID.text)
            date_list.append(Date.text)
            stars_list.append(Star.get_attribute('aria-label'))
            title_list.append(title.text)
            review_list.append(review.text)

    time.sleep(10)
    try:
        driver.find_element_by_class_name(a.BrOJk.u.j.z._F.bYExr.tIqAi.unMkR).click()
        time.sleep(5)
    except:
        break
    i += 1
    
review_data = pd.DataFrame(
    {'name': name_list,
     'rating': stars_list,
     'title': title_list,
     'review': review_list,
     'date': date_list})

In [13]:
pd.set_option('display.max_rows', None)
review_data

,name,rating,title,review,date
0,Agata0710,5.0 of 5 bubbles,Beautiful temple overlooking the ocean,The views here are fantastic!!! Temple is real...,"Written November 30, 2020"
1,The Soul Of Seoul,5.0 of 5 bubbles,Gorgeous Seaside Temple,"I’ve been to Naksansa Temple twice, one in the...","Written November 27, 2020"
2,Javier,4.0 of 5 bubbles,Great temple with great views,The temple was amazing in general and most of ...,"Written September 4, 2019"
3,travellover4110,5.0 of 5 bubbles,Beautiful spot!,Beautiful historical place to visit. It is tot...,"Written January 21, 2019"
4,Tony B,4.0 of 5 bubbles,Another of Korea's iconic Temples.,Located in Yangyang this temple is right on th...,"Written December 2, 2018"
5,adventureguyNZ,5.0 of 5 bubbles,So Peaceful,You cant miss this spot. A beautiful mix of na...,"Written October 27, 2018"
6,TravelAngler725,5.0 of 5 bubbles,One of my favorites,"This is one of my favorite temples in Korea, r...","Written August 20, 2018"
7,GlobetrotterJ16,4.0 of 5 bubbles,Scenic temple complex,The temple complex is nearby Naksan beach and ...,"Written July 3, 2018"
8,SunnyCha,4.0 of 5 bubbles,Find yourself with peace and quite,"1. They sell local drinks, and it was very tas...","Written June 10, 2018"
9,Marilyn M,5.0 of 5 bubbles,Vacation,A beautiful temple and grounds. Be prepared fo...,"Written June 3, 2018"

In [40]:
eng_review = review_data.copy()

In [41]:
# remove not english sentence & special characters
eng_review['review'] = eng_review['review'].str.replace(r'[^A-Za-z0-9]',' ', regex=True)

# delete side blank and "\n"
eng_review['review'] = eng_review['review'].str.strip()

# replace with lowercase
eng_review['review'] = eng_review['review'].str.lower()

#date에서 Written 없애기
eng_review['date'] = eng_review['date'].str.replace('Written ','')

print(len(eng_review))
eng_review.head()

8

,name,rating,title,review,date
0,GlobetrotterJ16,4.0 of 5 bubbles,Pagoda with nice views,the pavilion is part of naksana temple and one...,"July 3, 2018"
1,chitownsam,4.0 of 5 bubbles,Small Pavillion inside Naksana Complex with gr...,this is a lovely small pavillion inside the na...,"May 11, 2018"
2,Yahya Danayiyen,5.0 of 5 bubbles,Feeling of peace,the pavilion is located inside the naksansa te...,"February 2, 2018"
3,Kia,3.0 of 5 bubbles,Nice views,it s part of on the way to naksana and offers ...,"August 12, 2017"
4,Guri Bhateja,3.0 of 5 bubbles,So far so many!,if you have been to korea you have already see...,"July 29, 2016"

In [ ]:
# eng_review['title'] = eng_review['title'].str.replace(r'[^A-Za-z0-9]',' ', regex=True)

# eng_review.head()

In [42]:
#다 바꿔야함
eng_review['attraction'] = '의상대'
eng_review['address'] = '강원도 양양군 강현면 전진리 100'
eng_review['latitude'] = 38.1253749
eng_review['longitude'] = 128.6307526
#eng_review.to_csv("설악산권금성.csv", encoding="utf-8", index = None) #맥북 기준
eng_review.to_csv("양양/의상대_trip.csv", encoding="cp949", index = None) #window 기준

==========================================================================