In [1]:
import pandas as pd
import numpy as np

import time


from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver import ActionChains
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By  # 3개는 selenium이 동작하면서 웹 화면이 로딩될때 까지 기다림을 지원
from selenium.webdriver.support.ui import WebDriverWait # 웹 드라이버 미리 설치
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver = webdriver.Chrome('C:/Users/YOONSU/chromedriver.exe')
driver.get("https://www.google.com/maps/place/Ayajin+Beach/@38.3319145,128.4926231,13z/data=!4m11!1m2!2m1!1z7JWE7JW87KeE7ZW07IiY7JqV7J6l!3m7!1s0x5fd895584ed0740b:0x7dabe69453cc5ba3!8m2!3d38.2764619!4d128.5532654!9m1!1b1!15sChXslYTslbzsp4TtlbTsiJjsmpXsnqVaGCIW7JWE7JW87KeEIO2VtOyImOyaleyepZIBDHB1YmxpY19iZWFjaJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VNMlgyTnVhRUpCRUFF?hl=en")
driver.maximize_window()
time.sleep(5)

# sort to recent review 
wait = WebDriverWait(driver, 10)
menu_bt = wait.until(EC.element_to_be_clickable(
                       (By.XPATH, '//button[@data-value=\'Sort\']'))
                   )  
menu_bt.click()

recent_rating_bt = driver.find_elements_by_xpath(
                                     '//li[@role=\'menuitemradio\']')[1]
recent_rating_bt.click()

In [3]:
# scroll code
# total n review (10 reviews per 1 page)
i = 0
while i<60:
    buffer = driver.find_elements_by_class_name('qjESne') # buffer location
    time.sleep(1)
    action = ActionChains(driver)

    n =len(buffer)
    action.move_to_element(buffer[n-1]).perform() # move to last buffer
    time.sleep(1)
    i += 1

In [4]:
box_list = []
name_list = []
stars_list = []
review_list = []
date_list = []

boxes = driver.find_elements_by_class_name('jftiEf.fontBodyMedium') # review class

In [5]:
# more butten click
for box in boxes:
    try:
        more_btn = box.find_element_by_class_name('w8nwRe.kyuRq')
        more_btn.click()
        time.sleep(1)
    except:
        continue
# review collection
for box in boxes:
    
    IDs = box.find_elements_by_class_name('d4r55')
        
    Dates = box.find_elements_by_class_name('rsqaWe')
        
    Stars = box.find_elements_by_class_name('kvMYJc')
        
    reviews = box.find_elements_by_class_name('wiI7pd')
    
    for ID,Date,Star,review in zip(IDs, Dates, Stars, reviews):
        name_list.append(ID.text)
        date_list.append(Date.text)
        stars_list.append(Star.get_attribute('aria-label'))
        review_list.append(review.text)

In [6]:
# review list to dataframe
review = pd.DataFrame(
    {'name': name_list,
     'rating': stars_list,
     'review': review_list,
     'date': date_list})
pd.set_option('display.max_rows', None)
print(len(review))
review.head()

610

,name,rating,review,date
0,seungja lee,3 stars,,a day ago
1,Jaemyeong Kim,5 stars,(Translated by Google) The water is clear and ...,4 days ago
2,갓물총 TV,5 stars,,a week ago
3,지덕진,4 stars,,a week ago
4,엘리샤,1 star,(Translated by Google) Sand is soft. My fuckin...,a week ago

In [7]:
eng_review = review.copy()

In [8]:
# remove korean name
eng_review['name2'] = eng_review['name'].str.findall(r'[ㄱ-ㅎㅏ-ㅣ가-힣]')

eng_review = eng_review[eng_review['name2'].str.len() == 0]

# remove korean review
eng_review['review2'] = eng_review['review'].str.findall(r'[ㄱ-ㅎㅏ-ㅣ가-힣]')

eng_review = eng_review[eng_review['review2'].str.len() == 0]

# remove name2 & review2 columns
eng_review.drop(['name2','review2'],axis=1, inplace=True)

# remove unreviewed data
eng_review = eng_review[eng_review['review'].str.len()!=0]

# remove "(Translated by Google)" sentence
eng_review['review'] = eng_review['review'].str.replace('(Translated by Google) ','',regex=False)

# delete from "Original" to last word
eng_review['review'] = eng_review['review'].str.split('\(Original\)')
eng_review['review'] = [item[0] for item in eng_review['review']]

# delete side blank and "\n"
eng_review['review'] = eng_review['review'].str.strip()

# remove special characters
eng_review['review'] = eng_review['review'].str.replace(r'[^A-Za-z0-9]',' ')

# replace with lowercase
eng_review['review'] = eng_review['review'].str.lower()

print(len(eng_review))
eng_review.head()

3

<ipython-input-8-7a54e4891cdd>:28: FutureWarning: The default value of regex will change from True to False in a future version.
  eng_review['review'] = eng_review['review'].str.replace(r'[^A-Za-z0-9]',' ')

,name,rating,review,date
189,山賊王,3 stars,,9 months ago
220,Lena Yamaguchi,4 stars,my trip,10 months ago
257,Kims' Chronicles,4 stars,this beach is great for families ewpecially w...,11 months ago

In [9]:
eng_review.tail(10)

,name,rating,review,date
189,山賊王,3 stars,,9 months ago
220,Lena Yamaguchi,4 stars,my trip,10 months ago
257,Kims' Chronicles,4 stars,this beach is great for families ewpecially w...,11 months ago

In [10]:
eng_review.to_csv("아야진해수욕장.csv", encoding="utf-8")

==================================================================================